/*--------------------------------------------------------------
05. Forms
--------------------------------------------------------------*/

fieldset {
  background: lighten($base-border-color, 10);
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  margin-bottom: $spacing-xs;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: transparent;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: none;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:hover {
    opacity: 1;
  }

  &:focus {
    box-shadow: none;
    outline: none;
    opacity: 1;
  }

}

.entry-content textarea,
.entry-content #{$all-text-inputs},
.entry-content  select[multiple=multiple] {
  border: 1px solid $light-gray;
}

textarea {
  resize: vertical;
}

// input[type="search"] {
//   @include appearance(none);
// }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}
