/*--------------------------------------------------------------
06. Tables
--------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0 $spacing-m;
  table-layout: fixed;
  width: 100%;
  font-size: .6em;
  
  @include media($medium-screen) {
    font-size: 1em;
  }
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) 0;
}

tr,
td,
th {
  vertical-align: middle;
}

